.food_card_container{
    /* width: 160px;
    height: 210px; */
    width: 244px;
    /* height: 320.25px; */
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

/* Food Image */
.food_card_container .image_container{
    width: 244px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.food_card_container .image_container img {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
}

.food_card_container:hover img {
    transform: translate(-50%, -50%) scale(1.2);
}
/* Food Info */
.food_card_container .info_container{
    margin-top: 15px;
    height: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
/* Food Way */
.food_card_container #way {
    color: #E8412F;
}

/* Food Name */
.food_card_container #name{
    font-weight: 600;
    font-size: 1.25rem;
    color: #2f2f2f;
}